* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder; }

.container-fluid {
  padding: 0px; }
  .container-fluid .barraPrincipal {
    background-color: blue;
    color: white;
    height: 50px;
    margin: 0px;
    padding: 0px; }
  .container-fluid .logo {
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    margin: 0px; }

.navBar {
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 3px;
  margin: 1px; }
  .navBar li {
    list-style: none;
    margin: 0px; }
  .navBar a {
    font-size: 20PX;
    font-weight: bolder;
    display: flex;
    text-decoration: none;
    color: white;
    padding: 5px; }

footer {
  background-color: blue;
  height: 60px;
  padding-right: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 80px; }
  footer p {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    color: white; }
  footer .logos {
    width: 30px;
    height: 30px; }
  footer .redes {
    margin: 5px;
    display: flex;
    justify-content: normal;
    align-content: flex-end;
    flex-wrap: wrap; }

.almaMia, .km, .km_1, .km_2 {
  background-image: url("../assents/image/index.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  font-size: 80px;
  flex-wrap: wrap;
  margin: 0px;
  transition: width 2s, heught2s; }

.buscador {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: black; }

h3 {
  color: white;
  background-color: blue;
  display: flex;
  justify-content: center; }

.vendidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px; }
  .vendidos .carousel {
    width: 400px;
    height: 400px; }
    .vendidos .carousel .card-title-1 {
      background-color: blue;
      direction: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px; }

.km {
  background-image: url(../assents/image/Rectangle14.png); }

.km:hover {
  font-size: 120px; }

.card-group {
  display: grid;
  grid-template-columns: repeat(5 1fr);
  grid-template-areas: "card-1 card-2 card-3 card-4 siguiente";
  margin: 20px;
  margin-left: 100px; }
  .card-group .card-img-top {
    width: 200px;
    height: 300px; }

.card-1 {
  grid-area: card-1; }

.card-2 {
  grid-area: card-2; }

.card-3 {
  grid-area: card-3; }

.card-4 {
  grid-area: card-4; }

a {
  list-style: none;
  color: black; }

.siguiente {
  color: black;
  grid-area: siguiente;
  display: flex;
  justify-content: center;
  align-items: center; }

.km_1 {
  background-image: url(../assents/image/Rectangle9.png); }

.km_1:hover {
  font-size: 120px; }

.card img {
  width: 1200px;
  height: 300px; }

.card-text {
  color: black; }

.siguiente {
  display: flex;
  justify-content: end;
  align-items: flex-end; }

.contacto {
  height: 100vh; }
  .contacto label {
    color: white; }

@media (max-width: 768px) {
  .container-fluid {
    background-color: blue;
    height: 30px; }
    .container-fluid .logo {
      width: 30px;
      height: 30px;
      display: flex;
      position: absolute; }
    .container-fluid .navBar {
      display: flex;
      justify-content: flex-end;
      padding: 1px; }
    .container-fluid li {
      list-style: none; }
      .container-fluid li a {
        font-size: 10PX;
        font-weight: bolder;
        display: flex;
        text-decoration: none;
        color: white;
        padding: 5px; }
  footer {
    background-color: blue;
    height: 30px;
    padding-right: 10px;
    margin-top: 0px; }
  p {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    color: white; }
  .logos {
    width: 20px;
    height: 20px; }
  .redes {
    display: flex;
    justify-content: end;
    align-content: flex-end;
    flex-wrap: wrap; }
  .container-fluid-okm {
    margin-top: 260px; }
  main {
    height: 768px; }
  .almaMia, .km, .km_1, .km_2 {
    background-image: url(../assents/image/index576.png);
    height: 250px;
    font-size: 35px; }
  .almaMia:hover, .km:hover, .km_1:hover, .km_2:hover {
    font-size: 60px; }
  .buscador {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 178px;
    margin-bottom: 20px; }
  .vendidos {
    margin-top: 20px;
    margin-bottom: 20px; }
    .vendidos h2 {
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .vendidos .carousel {
      width: 300px;
      height: 300px; }
  .km {
    background-image: url(../assents/image/Rectangle14576.png);
    height: 250px;
    font-size: 35px; }
    .km .siguiente {
      margin-bottom: 10px; }
  .card-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "card-1 card-2" "card-3 card-4"; }
    .card-group .card-img-top {
      width: 250px;
      height: 250px;
      margin: 20px; }
    .card-group .card-title {
      font-size: 15px;
      margin-left: 30px; }
  .km_1 {
    background-image: url(../assents/image/Rectangle9.png);
    margin-bottom: 30px; } }

@media (max-width: 576px) {
  .container-fluid {
    background-color: blue;
    height: 30px; }
    .container-fluid .logo {
      width: 30px;
      height: 30px;
      display: flex;
      position: absolute; }
    .container-fluid .navBar {
      color: white;
      display: flex;
      justify-content: flex-end;
      padding: 1px; }
    .container-fluid li {
      list-style: none; }
      .container-fluid li a {
        font-size: 10PX;
        font-weight: bolder;
        display: flex;
        text-decoration: none;
        color: white;
        padding: 5px; }
  footer {
    background-color: blue;
    height: 30px;
    padding-right: 10px;
    padding-top: 20px; }
  p {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    color: white; }
  .logos {
    width: 20px;
    height: 20px; }
  .redes {
    display: flex;
    justify-content: end;
    align-content: flex-end;
    flex-wrap: wrap; }
  main {
    height: 700px; }
  .almaMia, .km, .km_1, .km_2 {
    background-image: url(../assents/image/index576.png);
    height: 200px;
    font-size: 30px; }
  .almaMia:hover, .km:hover, .km_1:hover, .km_2:hover {
    font-size: 60px; }
  .buscador {
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 140px; }
  .vendidos {
    margin-top: 50px;
    margin-bottom: 100px; }
    .vendidos h2 {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .vendidos .carousel {
      width: 200px;
      height: 200px;
      padding-bottom: 30px; }
  .km {
    background-image: url(../assents/image/Rectangle14576.png);
    height: 200px;
    font-size: 30px; }
  .card-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "card-1 card-2" "card-3 card-4"; }
    .card-group .card-img-top {
      width: 200px;
      height: 200px;
      margin: 20px; }
    .card-group .card-title {
      font-size: 10px;
      margin-left: 30px; }
  .km_1 {
    background-image: url(../assents/image/Rectangle9.png); } }
