.container-fluid{
    padding: 0px;
    .barraPrincipal{
        background-color: $background-principal;
        color: $color-text-primario;
        height: 50px;
        margin: 0px;
        padding: 0px;
    }
    .logo{
        color: $color-text-primario;
        width: 50px;
        height: 50px;
        display: flex;
        position: absolute; 
        margin: 0px;
    }
}
.navBar{
    color: $color-text-primario;
    display:flex;
    justify-content: flex-end;
    padding: 3px;
    margin: 1px;
    li{
        list-style: none;
        margin: 0px;
    }
    a{
        font-size: 20PX;
        font-weight: bolder;
        display:flex;
        text-decoration: none;
        color: $color-text-primario;
        padding: 5px;
    }
}