@media (max-width: 576px) {
.container-fluid{
    background-color: $background-principal;
    height: 30px;
    .logo{
        width: 30px;
        height: 30px;
        display: flex;
        position: absolute; 
    }
    .navBar {
        color: $color-text-primario;
        display: flex;
        justify-content: flex-end;
        padding: 1px;
    }
    li {
        list-style: none;
        a {
        font-size: 10PX;
        font-weight: bolder;
        display: flex;
        text-decoration: none;
        color: $color-text-primario;
        padding: 5px;
        }
    }
}



footer{
    background-color: $background-principal;
    height: 30px;
    padding-right: 10px;
    padding-top: 20px;
    }
    p{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        color: white;
    }
    .logos{
        width: 20px;
        height: 20px;
        }
        .redes{
        display: flex;
        justify-content: end;
        align-content: flex-end;
        flex-wrap: wrap;
        }
main{
    height: 700px;
}
.almaMia{
    background-image: url(../assents/image/index576.png);
    height: 200px;
    font-size: 30px;
    
}
.almaMia:hover{
    font-size: 60px;
}


.buscador{
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 140px;
}
.vendidos{
    margin-top: 50px;
    margin-bottom: 100px;
h2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel {
    width: 200px;
    height: 200px;
    padding-bottom: 30px;
}
}
.km{
    background-image: url(../assents/image/Rectangle14576.png);
    height: 200px;
    font-size: 30px;
}
.card-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "card-1 card-2"
    "card-3 card-4"
    ;
    .card-img-top{
        width: 200px ;
        height: 200px;
        margin: 20px;
        }
    .card-title{
        font-size: 10px;
        margin-left: 30px;

    }
}
.km_1{
    background-image: url(../assents/image/Rectangle9.png);
}

}

